a {
    color: inherit;
    text-decoration: none;
  }
  
  
  * {
    box-sizing: border-box;
  }
  
  
  section{
    margin-bottom: 3rem;
    margin-top: 3rem;
  }


  
  h2{
    font-size: 3rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 2rem;
    
  }
  
  h1,h2,h3,h4,ul,p{
    color: white;
  }