.logoContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

   
}


.logoBox{
    cursor: pointer;
    text-align: center;
    padding: 2rem;
    width: 25%;

    &:hover{
        background-color: #313131;
    }
}


@media only screen and (max-width: 600px){
    .logoBox{
        border-bottom: solid 1px black;
        width: 100%;
        padding:0;
    }
}

